---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import ProblemSolution from "../components/ProblemSolution.astro";
import FeatureGrid from "../components/FeatureGrid.astro";
import AgentIntegration from "../components/AgentIntegration.astro";
import QuickStart from "../components/QuickStart.astro";
import ArchitectureDiagram from "../components/ArchitectureDiagram.astro";
import BootstrapRepositories from "../components/BootstrapRepositories.astro";
import FAQ from "../components/FAQ.astro";
import CallToAction from "../components/CallToAction.astro";
import Footer from "../components/Footer.astro";
---
<BaseLayout>
  <main>
    <Hero />
    <ProblemSolution />
    <BootstrapRepositories />
    <FeatureGrid />
    <QuickStart />
    <AgentIntegration />
    <ArchitectureDiagram />
    <FAQ />
    <CallToAction />
  </main>
  <Footer />
</BaseLayout>
